$body-background: #f9f7fe;
$button-background: #6c63ff;
$body-color: #000;
$body-color2: #212529;
$main-color: #fff;
$footer-bg: rgb(238, 238, 238);
$content-color: #6e6e6e;

.dark-mood {
    $body-background: #282c35;
    $button-background: #6c63ff;
    $body-color: #fff;
    $body-color2: #f9f7fe;
    $main-color: #000;
    $footer-bg: rgb(71, 71, 71);
    $content-color: #6e6e6e;
}

