

$primary-font:  'Playfair Display', serif;
$seconadry-font: 'Poppins', sans-serif;

$fontS-small: 1rem;
$fontS-mid: 1.5rem;
$fontS-large: 2.5rem;


$fontW-small: 500;
$fontW-mid: 700;
$fontW-large: 900;
