@import "../../Styles/utils/Variables/_color";
@import "../../Styles/utils/Variables/_fonts";

footer {
  display: none;
  background-color: $footer-bg;
  width: 100%;
  p {
    font-weight: $fontW-mid;
    font-size: $fontS-small + 0.3rem;
    font-family: $primary-font;
    padding-left: 30px;

    span {
      color: $button-background;
    }
  }
}

@media (max-width: 1200px) {
  footer {
    display: block;
  }
}

@media (max-width: 400px) {
  footer {
    p {
      font-size: $fontS-small;
    }
  }
}
