@import "../src/Styles/utils/Variables/color";
@import "../src/Styles/utils/Variables/fonts";
@import "../src/Styles/Reset/reset";
$body-bg: #f9f7fe;

html {
  @extend .all;
  overflow-x: hidden !important;
}
body {
  background-color: $body-bg;
}

* {
  @extend .reset;
}

.App {
  display: flex !important;
}



@media (max-width: 1200px) {
  .App {
    display: block !important;
    flex: none !important;
  }
}
