
@import '../../Styles/utils/Variables/_color';
@import '../../Styles/utils/Variables/_fonts';
@import '../../Styles/utils/Variables/_mixins';



.work {

    .content-card {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .content
        {
        

          .cover {
              width: 100%;
              height: 100%;
              position: absolute;
              top: -120%;
              background-color: rgba(83, 83, 83, 0.55);
              @include trans(all, .66s);
              

              h4{
                  color: $main-color;
                  @include trans(all, .5s);

                  &:hover {
                      color: $button-background;
                  }
                  
              }
              

            }
        }
    }

    .content-card:hover .cover {
        top: 0%;
    }

}







